<!DOCTYPE html>
<html>
	<head>
		<% include _header.ejs %>
	</head>
	<body>
		<% include _navbar.ejs %>
		<div id="welcomeContainer">
			<img id="indexBG" src="http://images.alphacoders.com/794/79423.jpg">
			<a class="btn btn-lg" href="/poker">Enter Poker Room</a>
		</div>
		<% include _footer.ejs %>
	</body>
</html>