<!DOCTYPE html>
<html>
	<head>
		<% include _header.ejs %>
	</head>
	<body style="background-color: #000000; padding-top:0px">
		 <!-- style="display:none" -->
		<div id="signupModal">
			<div id="signupForm">
				<h4>Buyin</h4>
				<input type="text" name="buyin" placeholder="BB/SB: $2/$1, Min: $100" size="45" class="form-control">
				<br><br>
				<button id="joinGame" class="btn btn-primary">Join Game</button>
				<a class="btn btn-default" href="/">Back</a>
			</div>
		</div>

		<div id="rebuyModal" style="display:none">
			<div id="rebuyForm">
				<div><h5>Buyin Amount</h5></div>
				<input type="text" name="rebuyAmount" size="45" class="form-control">
				<br><br>
				<button id="rebuyConfirm" class="btn btn-primary">Confirm</button>
				<button id="cancelRebuy" class="btn btn-default">Cancel</button>
			</div>
		</div>		

	    <div class="container-fluid">
	    	<div class="row" id="tableContainer">
		    	<div class="seat" seat="0"></div>
		    	<div class="seat" seat="1"></div>
		    	<div class="seat" seat="2"></div>
		    	<div class="seat" seat="3"></div>
		    	<div class="seat" seat="4"></div>
		    	<div class="seat" seat="5"></div>
		    	<div class="seat" seat="6"></div>
		    	<div class="seat" seat="7"></div>
		    	<div class="seat" seat="8"></div>
		    	<div class="seat" seat="9"></div>
		    	<div id="board">
		    		<div id="countDownDisplay" style="display:none">
		    			Game Will Start in <span id="timeLeft"></span> Seconds
		    		</div>
		    		<div id="winnerDisplay" style="display:none">
		    		</div>
		    		<div id="boardCard">
	<!-- 	    		content for testing	
						<span class="COB"><img src="/images/cards/1.png"></span>
		    			<span class="COB"><img src="/images/cards/1.png"></span>
		    			<span class="COB"><img src="/images/cards/1.png"></span>
		    			<span class="COB"><img src="/images/cards/1.png"></span>
		    			<span class="COB"><img src="/images/cards/1.png"></span> -->
		    		</div>
		    	</div>
		    	<div id="potDisplay"></div>
		    	<img src="/images/bluetopchopped.jpg" id="tableImg">
		    </div>
	    

	    	<div id="controlPanel" class="row" style="margin: 1%">
	    		
	    		<div class="actionBtns col-md-5 col-sm-5">
				    <h5 style="color:white;margin-left:2%">Select Amount to Bet or Raise</h5><br>
				    <div class="row" style="color:white">
					    <div id="minusOne" class="col-md-1 col-sm-1">-</div>
					    <div class="col-md-6 col-sm-6">
					    	<input type="range" min="0" max="100" id="slider" value="0" class="form-control ctrlBtn">
					    </div>
					    
					    <div id="plusOne" class="col-md-1 col-sm-1">+</div>
					    <div id="sliderValue" class="col-md-4 col-sm-4">$ 0</div>
				    </div><br>

					<h5 style="color:white">Select Action</h5><br>
				    <button id="checkBtn" class="btn btn-default ctrlBtn">Check</button>
				    <button id="foldBtn" class="btn btn-default ctrlBtn">Fold</button>
				    <button id="betBtn" class="btn btn-default ctrlBtn">Bet</button>
				    <button id="callBtn" class="btn btn-default ctrlBtn">Call</button>
				    <button id="raiseBtn" class="btn btn-default ctrlBtn">Raise</button>
				    <button id="allinBtn" class="btn btn-default ctrlBtn">All In</button><br>

				</div>

				<div class="chatRoom col-md-5 col-sm-5">
				</div>

				<div class="configBtn col-md-2 col-sm-2">
		    		<!-- <button id="startGame" class="btn btn-default">Start Game</button> -->
		    		<h5 style="color:white">Game Control</h5><br>
		    		<button id="breakBtn" class="btn btn-default btn-block gameBtn">Step Away</button><br>
		    		<button id="standupBtn" class="btn btn-default btn-block gameBtn">Stand Up</button><br>
				    <!-- <button id="leaveBtn" class="btn btn-default">Leave Game</button> -->
				    <button id="rebuyBtn" class="btn btn-default btn-block gameBtn">Rebuy</button><br>
		    		<button id="returnLobby" class="btn btn-default btn-block gameBtn">Back to Lobby</button><br>				    
				</div>
			    <br>
			    <!-- <button id="pauseBtn">Take Break</button> -->
	    	</div>

    	</div>

    	<% include _footer.ejs %>
	</body>
</html>