#post-sort, #deletePostBtn{
	float: right;
}

#errMsg{
	color: red;
}

.row {
	margin: 20px 20px;
}

.showPost {
	border-bottom: 1px solid rgba(0,0,0,0.3);
	padding: 0px 10px;
	height: 32px;
	line-height: 32px;
}

.singleComment {
	position: relative;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	margin: 10px 0px;
	padding: 10px 10px;
	/*box-shadow: 0px 0px 2px grey;*/
}

#newPostBtn{
	text-align: center;
}

#postModal {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: rgba(0,0,0,0.5);
}

.commentModal {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: rgba(0,0,0,0.5);	
	border-radius: 5px;
}

.deleteCommentConfirm {
	position: relative;
	width: 300px;
	height: 80px;
	background-color: white;
	border-radius: 5px;
	left: 50%;
	top: 15px;
	text-align: center;
	padding-top: 10px;
	font-size: 15px;
	color: red;
   	-moz-transform: translatex(-50%);
	-webkit-transform: translatex(-50%);
	transform: translatex(-50%);	
}

#deleteConfirm {
	position: relative;
	width: 500px;
	height: 150px;
	background-color: white;
	border-radius: 5px;
	left: 50%;
	top: 100px;
	text-align: center;
	padding-top: 40px;
	font-size: 20px;
	color: red;
   	-moz-transform: translatex(-50%);
	-webkit-transform: translatex(-50%);
	transform: translatex(-50%);
}

#postContent {
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	background-color: rgba(204,255,255,0.1);
	padding: 20px 50px;
	margin: 20px 0px;
}

.glyphicon {
	margin-left: 5px; 
	margin-right: 5px;
}

.dateDisplay {
	font-style: italic;
	opacity: 0.5;
}

#postSearch {
	position: relative;
	left: 50%;
   	-moz-transform: translatex(-50%);
	-webkit-transform: translatex(-50%);
	transform: translatex(-50%);	
}

.wrnMsg {
	color: red;
}
