<!DOCTYPE html>
<html lang="en">
<head>
    <% include _head.ejs %>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2><%= title %></h2>
                <% include _postform.ejs %>
            </div>
        </div>
    </div>

     <% include _footer.ejs %>
</body>
</html>