<!DOCTYPE html>
<html lang="en">
<head>
    <% include _head.ejs %>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

               <h2>Sign Up</h2><br>
               <% include _signupform.ejs %>
             </div>
        </div>
    </div>

   <% include _footer.ejs %>
</body>
</html>